* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.header {
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(38, 120, 113), rgb(19, 106, 138));

  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1 {
  font-size: 64px;
  color: white;
  font-family: 'Baloo', cursive;
}

.header p {
  font-size: 32px;
  color: white;
  font-family: 'Baloo', cursive;
}

.header a {
  display: inline-block;
  color: white;
  margin-top: 50px;
  text-decoration: none;
  font-family: 'Baloo', cursive;
  font-size: 30px;
  border: 2px solid white;
  padding: 5px 20px;
}

.header a:hover {
  box-shadow: 0 0 10px 1px white;
}

.content {
  height: auto;
  background-color: rgb(247, 247, 247);
  overflow: hidden;
  text-align: center; /*Membuat Child Element Berada di Tengah*/
}

hr {
  width: 300px;
  margin: 20px auto;
}

.content h1 {
  margin: 30px 0 15px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.content p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.content .box {
  margin: 20px 10px;
  width: 550px;
  height: 400px;
  display: inline-block;
  background-color: white;
  box-shadow: 0 0px 10px 0px gray;
}

.content .box img {
  width: 500px;
  display: block;
  margin: 15px auto;
}

.content .box a {
  display: inline-block;
  margin: 10px 0;
  width: 130px;
  height: 40px;
  border: 1px solid rgb(47, 47, 47);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(47, 47, 47);
  font-weight: bold;
}

.content .box h1 {
  line-height: 350px;
}

.footer {
  height: 34px;
  background-color: rgb(28, 32, 33);
}

.footer p {
  margin: 0 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 34px;
}

.footer .left {
  float: left;
}

.footer .right {
  float: right;
}

.loadingscreen {
  width: 100%;
  height: 100%;
  background-color: #404456;
  position: fixed;
}

.loadingscreen h1 {
  text-align: center;
  margin-top: 60vh;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 64px;
}

.loadingscreen p {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 26px;
}

.loadingscreen a {
  color: white;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #404456;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid whitesmoke;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #404456;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid whitesmoke;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

/* ------------ Responsive Web Design ------------ */
@media screen /* Main Style */
and (min-width: 300px)
and (max-width: 420px) {
  .header h1, .header p {
    text-align: center;
  }

  .header h1 {
    font-size: 52px;
    line-height: 50px;
    margin: 0 0 25px 0;
  }

  .header p {
    line-height: 30px;
    font-size: 30px;
  }

  .content .box {
    width: 330px;
    height: 280px;
  }

  .content .box img {
    width: 320px;
  }

  .content .box h1 {
    line-height: 230px;
  }

  .footer p {
    font-size: 12px;
  }
}

@media screen /* iPhone 5 */
and (min-width: 315px)
and (max-width: 330px) {
  .content .box {
    width: 300px;
    height: 280px;
  }

  .content .box img {
    width: 280px;
  }

  .footer p {
    font-size: 11px;
  }
}

@media screen /* Nexus 5X */
and (min-width: 410px)
and (max-width: 415px) {
  .header h1 {
    font-size: 62px;
  }

  .header p {
    font-size: 38px;
  }

  .content .box {
    width: 360px;
  }

  .content .box img {
    width: 340px;
  }
}

@media screen /* Landscape Main Style */
and (min-width: 560px)
and (max-width: 800px) {
}

@media screen /* iPhone 5 - Landscape */
and (min-width: 565px)
and (max-width: 580px) {
}