* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

/* ------------ Navigation Bar ------------ */
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(40, 40, 48);
  font-size: 0;

  /* Position */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal */
  justify-content: center;

  /* Fixed Navigation Bar */
  position: fixed;
  margin-top: -50px;
}

.nav ul li, .nav ul li a {
  color: white;
  text-decoration: none;
}

.nav ul li {
  display: inline-block;
  padding: 0 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

/* .nav ul li a:hover {
  border-bottom: 3px solid white;
} */

/* ------------ Header ------------ */
.header {
  /* For Fixed Navigation Bar */
  margin-top: 50px;

  height: 350px;
  background-image: url("image.jpeg");
  background-size: cover;
  background-position: 50% 50%; /* Same As background-position: center center; */
  background-repeat: no-repeat;

  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header img {
  width: 10%;
  border-radius: 100%;
}

.header h1, .header p {
  color: white;
  font-weight: 500;
  text-align: center;
}

.header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 5px black;
}

.header p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 5px black;
}

.header .lol {
  margin-top: 6px;
  font-size: 12px;
  font-style: italic;
}

/* ------------ Content ------------ */
.content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .post {
  width: 900px;
  margin: 20px 0;
}

.content .post h1, .content .post h3 {
  text-align: center;
}

.content .post h3, .content .post p {
  font-family: "Merriweather", serif;
  color: rgb(116, 116, 116);

}

.content .post h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: rgb(65, 65, 65);
}

.content .post h3 {
  font-size: 16px;
  font-style: italic;
  margin: 6px 0;
}

.content .post p {
  font-size: 15px;
  text-align: justify;
  margin: 20px 0;
  line-height: 30px;
}

.content .post img {
  width: 80%;

  /* Center Image */
  display: block;
  margin: 15px auto;
}

hr.line {
  margin-bottom: 20px;
}

/* ------------ Footer ------------ */
.footer {
  height: auto;
  background-color: rgb(43, 43, 43);
}

.footer .about {
  width: 500px;
  margin: 0 auto;
}

.footer .about h1, .footer .about p, .footer .about i, .footer .about a{
  color: rgb(208, 208, 182);
}

.footer .about h1 {
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
}

.footer .about p {
  padding: 10px 0;
  font-family: "Merriweather", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: italic;
  border-top: 2px dotted rgb(208, 208, 182);
  border-bottom: 2px dotted rgb(208, 208, 182);
}

.footer .about a {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
}

.footer .about .center {
  margin-bottom: 5px;
  display: flex;
  justify-content: center; /* From Left to Center */
}

.footer .about i {
  font-style: normal;
  font-size: 26px;
}

.footer .copyright {
  height: 30px;
  background-color: rgb(28, 32, 33);
}

.footer .copyright p {
  margin: 0 10px;
  color: rgb(208, 208, 182);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 30px;
}

.footer .copyright .left {
  float: left;
}

.footer .copyright .right {
  float: right;
}

/* Loading Animation */
.loading {
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  position: fixed;
}

.loading p {
  margin-top: 30px;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

.animation {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 14px solid rgb(208, 208, 182);
  border-top: 14px solid rgb(58, 83, 155);

  /* Animation */
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Dots Animation */
.one, .two, .three {
    opacity: 0;
    animation-name: dot;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.one {
  animation-delay: 0.0s;
}

.two {
  animation-delay: 0.2s;
}

.three {
  animation-delay: 0.3s;
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* For Smooth-Scroll */
span#projects {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

/* Hover.css */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

@media screen /* Main Style */
and (min-width: 300px)
and (max-width: 420px) {
  .nav ul li {
    padding: 0 25px;
  }

  .header {
    height: 300px;
  }

  .header img {
    width: 30%;
  }

  .content .post {
    width: 320px;
  }

  .content .post h1 {
    font-size: 38px;
  }

  .content .post h3 {
    font-size: 14px;
  }

  .content .post p {
    font-size: 14px;
    line-height: 25px;
  }
  .content .post img {
    width: 100%;
  }

  .footer .about {
    width: 320px;
  }
}

@media screen
and (min-width: 320px)
and (max-width: 330px) {
  .content .post {
    width: 300px;
  }

  .footer .about {
    width: 300px;
  }
}

@media screen
and (min-width: 410px)
and (max-width: 415px) {
  .content .post {
    width: 350px;
  }

  .footer .about {
    width: 350px;
  }
}

@media screen
and (min-width: 560px)
and (max-width: 800px) {
  .header img {
    width: 18%;
  }

  .content .post {
    width: 600px;
  }

  .footer .about {
    width: 600px;
  }
}

@media screen
and (min-width: 565px)
and (max-width: 580px) {
  .content .post {
    width: 550px;
  }

  .footer .about {
    width: 550px;
  }
}