* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.header {
  height: 100%;
  /*background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;*/
  background-image: linear-gradient(to bottom right,rgb(38, 120, 113), rgb(19, 106, 138));

  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1, .header p {
  color: white;
  font-family: 'Baloo', cursive;
  /*text-shadow: 0 0 10px black;*/
}

.header h1 {
  font-size: 64px;
}

.header p {
  font-size: 32px;
}

.header a {
  display: inline-block;
  position: relative;
  margin-top: 10%;
  color: white;
  text-decoration: none;
  font-family: 'Baloo', cursive;
  font-size: 30px;
  border: 2px solid white;
  /*box-shadow: 0 0 20px 0 black;*/
  padding: 5px 20px;
  /*text-shadow: 0 0 10px black;*/
}

.header a:hover {
  box-shadow: 0 0 5px 0 white;
}

.content {
  /* Text Align meng-center kan text dan inline element */
  text-align: center;
  background-color: rgb(245, 245, 245);
  overflow: auto;
}

.content .maintext {
  font-family: 'Raleway', sans-serif;
  color: rgb(34, 34, 34);
  margin: 70px 0 25px 0;
}

hr {
  width: 150px;
  margin: 0 auto 25px auto;
}

.content .secondtext {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin: 0 0 25px 0;
}

.content .box {
  width: 500px;
  height: 281.25px;
  margin: 40px 30px;
  display: inline-block;
  overflow: hidden;
}

.content .box .center {
  height: 281.25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .box .center h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.content .box .center img {
  width: 500px;
  display: block;

  /* Blur + Grayscale Hover */
  filter: grayscale(0) blur(0);
	transition: .3s ease-in-out;
}

/* .center:hover mengarahkan langsung ke bagian div tersebut dan mengganti element setelah-nya */
.content .box .center:hover img {
	filter: grayscale(100%) blur(3px);
}
/* ------------------ */

.content .box .center .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(34, 34, 34, 0.7);

  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .center:hover mengarahkan langsung ke bagian div tersebut dan mengganti element setelah-nya */
.content .box .center:hover .overlay {
  opacity: 1;
}

.content .box .center .overlay .text {
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 24px;
}

.content .box .center .overlay .text .bold {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.content .box .center .overlay .text2 {
  position: relative;
  top: 100px;
}

.content .box .center .overlay .text2 a {
  display: inline-block;
  padding: 0 10px 2px 10px;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 24px;
  border: 1px solid white;
}

.content .box .center .overlay .text2:hover a {
  border: 2px solid rgb(245, 245, 245);
}

#box2, #box3, #box4 {
  border: 1px solid black;
}
