* {
	margin: 0;
	padding: 0;
}

#fullpage {
	height: 200vh !important;
	background-image: linear-gradient(to bottom, #84fab0 0%, #8fd3f4 100%);
}

.name {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	color: white;
	text-align: center;
	font-size: 8em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	user-select: none;
	box-sizing: border-box;
	padding: 12px;
}

.as {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	color: white;
	text-align: center;
	font-size: 4em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	user-select: none;
	box-sizing: border-box;
	padding: 12px;
}

.scroll-down {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

.mouse {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
	margin: 10px auto 0 auto;
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
	animation-iteration-count: infinite;
}

.scroll-text {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	color: white;
	text-align: center;
	font-size: 1em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	user-select: none;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}

	10% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

.about-me {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 2em;
	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
	user-select: none;
	box-sizing: border-box;
	padding: 12px;
}

.typed-cursor {
	display: none;
}

@media screen
and (max-width: 340px) {
	.name {
		font-size: 3.5em;
	}

	.as {
		font-size: 1.8em;
	}

	.about-me {
		font-size: 1.5em;
	}
}

@media screen
and (min-width: 340px)
and (max-width: 768px) {
	.name {
		font-size: 4em;
	}

	.as {
		font-size: 2em;
	}

	.about-me {
		font-size: 1.5em;
	}
}

@media screen
and (min-width: 768px)
and (max-width: 1024px) {
	.name {
		font-size: 5em;
	}

	.as {
		font-size: 2.5em;
	}
}