* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

/* ------------ Navigation Bar ------------ */
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(40, 40, 48);
  font-size: 0;

  /* Position */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal */
  justify-content: center;

  /* Fixed Navigation Bar */
  position: fixed;
  margin-top: -50px;
}

.nav ul li, .nav ul li a {
  color: white;
  text-decoration: none;
}

.nav ul li {
  width: 120px; /* Set Width for Center List */
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-align: center; /*Make Text Center in div */
}

/* ------------ Header ------------ */
.header {
  /* For Fixed Navigation Bar */
  margin-top: 50px;

  height: 350px;
  background-image: url("image.jpeg");
  background-size: cover;
  background-position: 50% 50%; /* Same As background-position: center center; */
  background-repeat: no-repeat;

  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header img {
  border-radius: 100%;
}

.header h1, .header p {
  color: white;
  font-weight: 500;
  text-align: center;
}

.header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 5px black;
}

.header p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 5px black;
}

.header .lol {
  margin-top: 6px;
  font-size: 12px;
  font-style: italic;
}

/* ------------ Content ------------ */
.content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .post {
  width: 900px;
  margin: 20px 0;
}

.content .post h1, .content .post h3 {
  text-align: center;
}

.content .post h3, .content .post p {
  font-family: "Merriweather", serif;
  color: rgb(116, 116, 116);

}

.content .post h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: rgb(65, 65, 65);
}

.content .post h3 {
  font-size: 16px;
  font-style: italic;
  margin: 6px 0;
}

.content .post p {
  font-size: 15px;
  text-align: justify;
  margin: 20px 0;
  line-height: 30px;
}

.content .post img {
  width: 80%;

  /* Center Image */
  display: block;
  margin: 15px auto;
}

hr.line {
  margin-bottom: 20px;
}

/* ------------ Footer ------------ */
.footer {
  height: auto;
  background-color: rgb(43, 43, 43);
}

.footer .about {
  width: 500px;
  margin: 0 auto;
}

.footer .about h1, .footer .about p, .footer .about i, .footer .about a{
  color: rgb(208, 208, 182);
}

.footer .about h1 {
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
}

.footer .about p {
  padding: 10px 0;
  font-family: "Merriweather", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: italic;
  border-top: 2px dotted rgb(208, 208, 182);
  border-bottom: 2px dotted rgb(208, 208, 182);
}

.footer .about a {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
}

.footer .about .center {
  margin-bottom: 5px;
  display: flex;
  justify-content: center; /* From Left to Center */
}

.footer .about i {
  font-style: normal;
  font-size: 26px;
}

.footer .copyright {
  height: 30px;
  background-color: rgb(28, 32, 33);
}

.footer .copyright p {
  margin: 0 10px;
  color: rgb(208, 208, 182);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 30px;
}

.footer .copyright .left {
  float: left;
}

.footer .copyright .right {
  float: right;
}

/* For Smooth-Scroll */
span#projects {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* ------------ Responsive Web Design ------------ */
@media screen /* Main Style */
and (min-width: 300px)
and (max-width: 420px) {
  .nav ul li {
    width: 100px;
  }

  .header {
    height: 300px;
  }

  .header img {
    width: 30%;
  }

  .content .post {
    width: 320px;
  }

  .content .post h1 {
    font-size: 38px;
  }

  .content .post h3 {
    font-size: 14px;
  }

  .content .post p {
    font-size: 14px;
    line-height: 25px;
  }
  .content .post img {
    width: 100%;
  }

  .footer .about {
    width: 320px;
  }
}

@media screen /* iPhone 5 */
and (min-width: 320px)
and (max-width: 330px) {
  .content .post {
    width: 300px;
  }

  .footer .about {
    width: 300px;
  }

  .footer .copyright p {
    font-size: 11px;
  }
}

@media screen /* Nexus 5X */
and (min-width: 410px)
and (max-width: 415px) {
  .content .post {
    width: 350px;
  }

  .footer .about {
    width: 350px;
  }
}

@media screen /* Landscape Main Style */
and (min-width: 560px)
and (max-width: 800px) {
  .content .post {
    width: 600px;
  }

  .footer .about {
    width: 600px;
  }
}

@media screen /* iPhone 5 - Landscape */
and (min-width: 565px)
and (max-width: 580px) {
  .content .post {
    width: 550px;
  }

  .footer .about {
    width: 550px;
  }
}