* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.header {
  height: 150px;
  line-height: 150px; /* Membuat gambar ditengah secara vertical *dengan bantuan vertical-align: middle; pada tag img */
  box-shadow: 0 4px 20px -2px gray; /*Bayangan di bawah header */
}

.header img {
  height: 145px;
  margin-left: 20px;
  vertical-align: middle; /* Membuat gambar di tengah secara vertical */
}

.nav {
  height: 50px;
}

.nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  position: relative;
  left: 25px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
}

.scroll {
  height: 600px;
  background-image: url("assets/image0.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  transition-property: background-image;
  transition-duration: 1s;
}

.intro {
  height: 700px;
}

.intro img {
  height: 700px;
  margin: 0 20px;
  float: left;
}

.intro h1 {
  float: left;
  margin: 100px 10px 10px 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(47, 47, 47);
}

.intro .boldtitle {
  color: rgb(231, 152, 0);
}

.intro h2 {
  float: left;
  margin: 10px 10px 10px 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.intro p {
  width: 500px;
  float: left;
  margin-left: 150px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.intro a {
  float: left;
  margin: 10px 10px 10px 150px;
  display: inline-block;
  width: 130px;
  height: 40px;
  border: 1px solid rgb(47, 47, 47);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(47, 47, 47);
  font-weight: bold;
}

.content {
  clear: both;
  height: 600px;
  background-color: rgb(247, 247, 247);
  overflow: hidden;
  text-align: center; /*Membuat Child Element Berada di Tengah*/
}

.content h1 {
  margin: 30px 0 15px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.content p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

hr {
  width: 300px;
  margin: 20px auto;
}

.content .box {
  margin: 0 50px;
  width: 300px;
  height: 350px;
  display: inline-block;
  background-color: white;
  box-shadow: 0 0px 10px 0px gray;

}

.content .box img {
  width: 250px;
  display: block;
  margin: 15px auto;
}

.content .box a {
  display: inline-block;
  width: 130px;
  height: 40px;
  border: 1px solid rgb(47, 47, 47);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(47, 47, 47);
  font-weight: bold;
}

.footer {
  background-color: rgb(43, 43, 43);
  overflow: hidden; /*Membuat Margin Tidak Turun Saat Child Element Membuat Margin Top */
}

.footer .boxfooter {
  width: 600px;
  margin: auto;
}

.footer .boxfooter h1 {
  color: rgb(208, 208, 182);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

.footer .boxfooter p {
  color: rgb(208, 208, 182);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
}

/* ------------ Responsive Web Design ------------ */
@media screen /* Main Style */
and (min-width: 300px)
and (max-width: 420px) {

  .header {
    text-align: center;
  }

  .header img {
    margin: 0;
  }

  .nav {
    display: none;
  }

  .scroll {
    margin: 20px auto;
    width: 330px;
    height: 270px;
  }

  .intro {
    height: 780px;
    text-align: center;
}

  .intro img {
    float: none;
    display: none;
  }

  .intro h1 {
    float: none;
    margin: 10px auto;
    text-align: center;
  }

  .intro .boldtitle {
    display: block;
  }

  .intro h2 {
    float: none;
    margin: 10px auto;
    text-align: center;
  }

  .intro p {
    width: 300px;
    float: none;
    margin: auto;
  }

  .intro a {
    float: none;
    margin: 20px auto;
  }

  .content {
    height: 900px;
  }

  .content .box {
    margin: 10px 0;
  }

  .footer .boxfooter {
    width: 300px;
  }

}

@media screen /* iPhone 5 */
and (min-width: 320px)
and (max-width: 330px) {
  .scroll {
    width: 310px;
  }

}

@media screen /* Nexus 5X */
and (min-width: 410px)
and (max-width: 415px) {
}

@media screen /* Landscape Main Style */
and (min-width: 560px)
and (max-width: 800px) {

  .header {
    text-align: center;
  }

  .header img {
    margin: 0;
  }

  .nav {
    display: none;
  }

  .scroll {
    margin: 20px auto;
    width: 540px;
    height: 480px;
  }

  .intro {
    height: 580px;
    text-align: center;
}

  .intro img {
    float: none;
    display: none;
  }

  .intro h1 {
    float: none;
    margin: 10px auto;
    text-align: center;
  }

  .intro .boldtitle {
    display: block;
  }

  .intro h2 {
    float: none;
    margin: 10px auto;
    text-align: center;
  }

  .intro p {
    width: 540px;
    float: none;
    margin: auto;
  }

  .intro a {
    float: none;
    margin: 20px auto;
  }

  .content {
    height: 550px;
  }

  .content .box {
    margin: 10px 5px;
  }

  .footer .boxfooter {
    width: 540px;
  }

}

@media screen /* iPhone 5 - Landscape */
and (min-width: 565px)
and (max-width: 580px) {

  .content .box {
    width: 260px;
    margin: 10px 5px;
  }

  .content .box img {
    width: 240px;
  }

}