/*

	Flexbox hanya berfungsi jika ada Height dan Width
	Cara termudah dengan memasukkan Height dan Width 100%
	----------------------------------------------------------------
	Property Flexbox ini harus ditulis di parent element,
	Yang akan berefek ke child element dari parent element tersebut.

*/



* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2, .headertext p {
	font-family: 'Acme', sans-serif;
}

.navigation {
	height: 40px;
	background-color: rgb(25, 52, 65);
	/* box-shadow: 0 0 5px 5px rgb(25, 52, 65); */

	/* Position */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.navigation ul {
	margin: 0 auto;
	padding: 0;
}

.navigation ul li {
	display: inline-block;
	text-decoration: none;
	padding: 0 30px;
}

.navigation ul li a {
	padding: 6px;
	text-decoration: none;
	color: white;
}

.navigation ul li a:hover {
	border-radius: 1px;
	color: rgb(25, 52, 65);
	background-color: white;
}

.header {
	background-image: url(../images/image2.jpeg);
	height: 750px;
	background-repeat: no-repeat;
	background-size: cover;
}

.headertext {
	/* Position */
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headertext h1 {
	font-size: 80px;
	color: white;
	text-shadow: 0 0 20px rgb(30, 30, 32);
	padding: 0 0 25px 0;
}

.headertext p {
	font-size: 25px;
	color: white;
	text-shadow: 0 0 30px rgb(30, 30, 32),
					 0 0 30px rgb(30, 30, 32);
}

.content {
	width: 100%;
	height: 550px;
	background-color: rgb(42, 44, 43);
	border-top: 5px solid rgba(25, 52, 65, 0.8);
	border-bottom: 5px solid rgba(25, 52, 65, 0.8);

	/* Position */
	/*Efek ini akan terlihat di child element yaitu .content1, .content2, dan .content3 */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.content1, .content2, .content3 {
	width: 240px;
	height: 380px;
	background-color: rgb(55, 65, 64);
	color: white;
	margin: 0 40px;
	border: 5px solid rgb(44, 62, 80);
	border-radius: 3px;
	text-align: center;
	padding: 10px;
}

.content1 h2, .content2 h2, .content3 h2 {
	font-size: 30px;
	background-color: rgb(30, 30, 32);
	padding: 8px 0 8px 0;
	border-radius: 3px;
}

.content1 p, .content2 p, .content3 p{
	font-size: 40px;
	padding: 20px 0 10px 0;
}

.secondimg {
	background-image: url(../images/image3.jpeg);
	height: 750px;
	background-repeat: no-repeat;
	background-size: cover;

	/* Position */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contentimg {
	width: 60%;
	height: 40%;
	background-color: rgba(30, 30, 32, 0.6);
	border: 5px solid rgba(252, 255, 245, 0.6);
	color: white;

	/* Position */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contentimg h2 {
	font-size: 50px;
}

.contentimg p {
	font-size: 30px;
}

.footer {
	height: 150px;
	background-color: rgb(42, 44, 43);
	border-top: 5px solid rgba(25, 52, 65, 0.8);
}

.footer ul {
	text-decoration: none;
	margin: 40px 0 0 0;
}

.footicon ul li {
	display: inline-block;
}

.footicon ul li a {
	text-decoration: none;
	color: rgb(62, 96, 111);
}

.footicon, .copyright {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.copyright {
	color: white;
	margin-top: 20px;
}