* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #130f40;
}

h1 {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
}

p {
	font-family: "Quicksand", sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.bg-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.background {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.background-animation {
	animation-delay: 0.3s;
	animation-name: background;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

.content {
	box-sizing: border-box;
	padding: 16px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}

.title {
	color: white;
	font-size: 30px;
}

.title-animation {
	animation-name: title;
	animation-duration: 0.9s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

.as {
	color: coral;
	font-size: 12px;
	font-weight: 500;
	padding: 8px 0 12px 0;
}

.line {
	width: 65px;
	border: 0;
	border-top: 2px solid chocolate;
	padding-bottom: 25px;
}

.line-animation {
	animation-name: line;
	animation-duration: 1.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

.desc {
	color: white;
	line-height: 24px;
	letter-spacing: 0.3px;
	font-weight: 400;
	padding-bottom: 25px;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: coral;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid chocolate;
	padding: 10px;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.photo-profile {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes title {
	from {
		transform: translate3d(0, -65%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes line {
	0% {
		width: 0;
	}

	100% {
		width: 65px;
	}
}

@keyframes background {
	from {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}

	to {
		transform: scale(1.0, 1.0);
		opacity: 1;
	}
}


@media screen
and (max-width: 767px) {
	.content {
		flex-direction: column-reverse;
	}

	.photo-profile {
		width: 180px;
		height: 180px;
	}
}

@media screen
and (max-width: 767px)
and (orientation: landscape) {
	.content {
		flex-direction: row;
	}

	.photo-profile {
		width: 180px;
		height: 180px;
	}
}

@media screen
and (max-width: 340px) {
	.photo-profile {
		width: 160px;
		height: 160px;
	}

	.title {
		font-size: 26px;
	}

}